#!/bin/bash -ex
set -o pipefail
BACKUP_FILE_API="/var/ccp/backup/designate/backup-$(date "+%Y%m%d%H%M%S")-api.sql"
mysqldump {% if db.tls.enabled %} --ssl-mode REQUIRED {% endif %} -h {{ address(service.database) }} \
    -u {{ designate.db.username }} -p{{ designate.db.password }} \
    --single-transaction {{ designate.db.name.main_database }} > "${BACKUP_FILE_API}"
BACKUP_FILE_POOL="/var/ccp/backup/designate/backup-$(date "+%Y%m%d%H%M%S")-pool.sql"
mysqldump {% if db.tls.enabled %} --ssl-mode REQUIRED {% endif %} -h {{ address(service.database) }} \
    -u {{ designate.db.username }} -p{{ designate.db.password }} \
    --single-transaction {{ designate.db.name.pool_manager }} > "${BACKUP_FILE_POOL}"
