server {
    listen {{ network_topology["private"]["address"] }}:{{ designate.api_port.cont }} ssl;
    include common/ssl.conf;

    location / {
        proxy_pass http://designate_api;
        include common/proxy-headers.conf;
    }
}
